.test-root {
  justify-content: center;
  display: flex;
  padding: 50px;
  background-color: rgb(13, 15, 37);
}

.test-action-buttons-style {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  justify-content: space-around;
}

.test-action-buttons-style > button {
  background: #9b4dca;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
  margin: 5px 0px;
}

.test-action-buttons-style > input {
  border: none;
  padding: 5px;
  border-bottom: 2px solid black;
  outline: none;
}
